.tox {
    margin: 0 auto;
}

.tox-statusbar__branding {
    display: none;
}

html body {
    height: 100%;
    width: 100%;
    background-color: #393E46;
    color: white;
}

.oculto {
    display: none;
}

.material-symbols-outlined {
    font-size: 34px !important;
}

.errores {
    color: red;
    display: none;
    margin: 5px 0px 0px;
}

#alertaGuardado{
  margin-bottom: 1px;
  height: 40px;
  line-height:30px;
  padding:0px 15px;
}
