.caja_ListaUsuarios {
    background-color: #222831;
    border: 1px solid #00ADB5;
}

.colorFondo {
    background-color: #393E46;
}

.fondo{
    background-color: #222831;
}

hr {
    color: #00FFF5;
    margin: 0;
}

#listaUsuarios {
    margin-left: 0px;
    margin-right: 30px;
}

h5 {
    color: #00ADB5;
}