body {
    background-color: #393E46;
}


#contenidoAnuncio::-webkit-scrollbar {
    width: 10px;
    background: white;
}

#contenidoAnuncio::-webkit-scrollbar-thumb {
    background: #59616e;
    border-radius: 20px;
}

/*Ocultar el logo del plugin*/
.tox-statusbar__branding {
    display: none !important;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #59616e;
    border-radius: 20px;
}

/*Estilos por defecto de los mensajes de error*/
.errores {
    color: red;
    display: none;
    margin: 5px 0px 0px;
}